#sidebarContainer {
   height: 100vh;
   width: 30vw;
   background-color: rgb(116, 60, 190);
   box-shadow: 8px 0 10px rgb(129, 129, 129);
   flex: 1;
}

#sidebarTitle {
   margin: 2vh 1vw;
   color: white;
   font-size: 2vw;
}

#addForm {
   display: flex;
   flex-direction: column;
}

.addFormLabel {
   color: white;
}